/* 
============ global ============
*/

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

header {
  background-color: #f0f0f0;
}

footer {
  background-color: #143774;
}

h1 {
  font-size: 2rem;
  color: #143774;
}

h2 {
  font-size: 1.5rem;
  color: #143774
}

p {
  font-size: 1rem;
  color: #707070;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  border-radius: 1px;
}

.side-bar-widget {
  border-radius: 2px;
}

.img-date {
  font-size: .75rem;
}

.strong-text {
  font-weight: bold;
}

.in-text-link {
  color: #1792D2;
}

.in-text-link:hover,
.in-text-link:focus {
  text-decoration: underline;
}

.article-link {
  display: inline-block;
  margin: 1em 0;
  color: #1792D2;
}

.article-link:hover,
.article-link:focus {
  color: #1792D2;
  text-decoration: underline;
}

/* 
============ header ============
*/

.header-container {
  padding: 3em 0;
  text-align: center;
  max-width: 900px;
  width: 98%;
  margin: 0 auto;
}

.header-title {
  font-size: 2rem;
  line-height: .8em;
}

.header-title-text {
  color: #1792D2;
  font-size: .75rem;
}

.header-link-container li {
  padding-top: 1.5em;
}

.header-links {
  color: #707070;
  font-size: 1rem;
}

.about-me:hover,
.about-me:focus,
.projects:hover,
.projects:focus {
  color: #1792D2;
}

.home {
  border-bottom: 2px solid #707070;
  cursor: default;
}

/* 
============ primary ============
*/

/* -- main -- */

.primary-container {
  max-width: 900px;
  width: 98%;
  margin: 3em auto 0 auto;
}

.main-article {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #707070;
}

.main-article-img {
  width: 100%;
  order: -2;
}

.img-date {
  margin: .5em 0 0 0;
}

.img-date {
  order: -1;
}

.article-title {
  margin: 1em 0;
}

.services-title {
  text-align: center;
  margin: .5em 0;
}

/* -- aside -- */

.widget-img {
  width: 100%;
  margin: .25em 0;
}

.widget-text {
  color: #143774;
}

/* 
============ footer ============
*/

.footer-container {
  text-align: center;
  padding: 4em 0;
}

.footer-text {
  color: #cacacac7;
}

.footer-span {
  font-weight: bold;
}

.footer-link {
  text-decoration: none;
  color: #cacacac7;
}

.footer-link:hover,
.footer-link:focus {
  color: #e2e2e2;
}

/* 
============ media queries ============
*/

@media (min-width: 680px) {

/* -- header */

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-link-container {
    display: flex;
  }

  .header-link-container li {
    padding: 0 0 0 2.5em;
  }

/* -- primary -- */

  .primary-container {
    display: flex;
    justify-content: space-between;
  }

  .main-container {
    width: 70%;
  }

  .side-bar {
    width: 25%;
  }
  
  .side-bar-widget {
    border: 15px solid #e6e6e6;
    padding: .9em;
  }

  .widget-text {
    font-size: .9rem;
  }

}

