* {
  margin: 0;
  /* border: 1px solid red; */
}

header {
  background-color: #f0f0f0;
}

footer {
  background-color: #143774;
}

h1 {
  font-size: 2rem;
  color: #143774;
}

p {
  font-size: 1rem;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

/* 
============ header ============
*/

.header-container {
  padding: 3em 0;
  text-align: center;
  max-width: 900px;
  width: 98%;
  margin: 0 auto;
}

.header-title {
  font-size: 2rem;
  line-height: .8em;
}

.header-title-text {
  color: #1792D2;
  font-size: .75rem;
}

.header-link-container li {
  padding-top: 1.5em;
}

.header-links {
  color: #707070;
  font-size: 1rem;
}

.about-me:hover,
.about-me:focus,
.projects:hover,
.projects:focus {
  color: #1792D2;
}

.home {
  border-bottom: 2px solid #707070;
  cursor: default;
}

/* 
============ footer ============
*/

.footer-container {
  text-align: center;
  padding: 4em 0;
}

.footer-text {
  color: #cacacac7;
}

.footer-span {
  font-weight: bold;
}

.footer-link {
  text-decoration: none;
  color: #cacacac7;
}

/* 
============ media queries ============
*/

@media (min-width: 680px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-link-container {
    display: flex;
  }

  .header-link-container li {
    padding: 0 0 0 2.5em;
  }

}